{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDBS</title>
</head>
<body>
    <nav>
        <div class="nav_bar">
            <img src="{% static 'images/cdbslogo.png' %}" height="50px" alt="">
            <ul class="nav_items">
                <li>Clases</li>
                <li>Tienda</li>
                <li>Eventos</li>
            </ul>
            <ul class="redes">
                <li><a href="https://www.facebook.com/">F<img src="" alt=""></a></li>
                <li><a href="https://www.instagram.com/">I<img src="" alt=""></a></li>
                <li><a href="https://www.tiktok.com/">T<img src="" alt=""></a></li>
            </ul>
        </div>
    </nav>
</body>
</html>